[submodule "deps/universal_manipulation_interface"]
	path = deps/universal_manipulation_interface
	url = https://github.com/real-stanford/universal_manipulation_interface.git
[submodule "deps/FoundationStereo"]
	path = deps/FoundationStereo
	url = https://github.com/NVlabs/FoundationStereo.git
[submodule "deps/rby1-wbc"]
	path = deps/rby1-wbc
	url = https://github.com/real-stanford/rby1-wbc.git
